body {
	background-image: url('/images/bg-image.jpg');
	background-size: cover; /* Cover the entire element */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    height: 100vh; /* Set the height of the body to the full viewport height */
			}

			/* Media query for screens smaller than 768px (typical mobile devices) */
@media only screen and (max-width: 768px) {
    body {
        background-size: contain; /* Adjust the background size for smaller screens */
    }
}

			#wrap {
				background: #222;
				box-shadow: inset 0 0 0 1px #404040, 0 0 0 1px #000;
				left: 50%;
				opacity: 0;
				padding: 10px;		
				position: absolute;
				top: 50%;
				transition: opacity 1.5s;
			}

			.loaded #wrap {				
				opacity: 1;			
			}

			#wrap-inner {
				background: #000;				
				overflow: hidden;
				position: relative;				
			}

			canvas {
				cursor: crosshair;
				display: block;
				left: 0;
				position: absolute;
				top: 0;
			}